<!DOCTYPE html>
<html>
  <head>
    <title>Mood Swings</title>
    
    <style>
      li {
        margin: 15px;
      }
      li img {
        padding-right: 15px;
      }
      .pl {
        margin-right: 22%;
        float: left;
      }
      .card {
        margin-top: 30px;
        padding: 25px;
        background-color: #ffefff;
      }
      .shows img {
        padding: 20px;
      }
      .shows h3 {
        padding-top: 20px;
      }
      .shows p {
        font-size: 65%;
      }
      iframe {
        margin-bottom: 40px;
      }
      li a {
        font-size: 130%;
      }
    </style>
  </head>
  
  <body>
    <nav class="navbar fixed navbar-expand-md navbar-light" style="background-color: #fff8b4;" id="nav">
        <a class="navbar-brand" href="index.erb">Mood Swings<img src="https://cdn3.iconfinder.com/data/icons/camping-outline-pt-3/100/107_-_swing_playground-512.png" width='50px'></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="happy">happy</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="upset">upset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stressed">stressed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="peaceful">peaceful</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">about us</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="playlists card">
      <h1>Playlists</h1>
      
      <div class="row">
        <div class="col-6">
          <ul>
            <li>
              <img src="https://i.scdn.co/image/e488f79f331bdd6388449565739ee9d194a99c8d" width="120px">
              <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX186v583rmzp" target="_blank">90's Hip Hop</a>
              </li>
              <li>
                <img src="https://i.scdn.co/image/d077d210bbeeb51c168bfaf79958b0ccd83a584e" width="120px">
                <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DWSf2RDTDayIx" target="_blank">Happy Summer Beats</a>
            </li>
          </ul>
        </div>
        
        <div class="col-6">
          <ul>
            <li>
              <img src="https://i.scdn.co/image/e1f63e54458b1b237aff4b58bdd21d719cd309e3" width="120px">
              <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DXdPec7aLTmlC" target="_blank">Happy Hits</a>
            </li>
            <li>
              <img src="https://i.scdn.co/image/0b3cb3d915d9494a51d180da0816ea160722eba7" width="120px">
              <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DXaK0O81XtkisP" target="_blank">Happy Chill</a>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
    
    <div class="web card">
      <h1>Try Not to Laugh</h1>
      
      <div class="row">
          <div class="col-6">
            <iframe width="400" height="220" src="https://www.youtube.com/embed/syH705dKJb4?start=13" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="col-6">
            <iframe width="400" height="220" src="https://www.youtube.com/embed/Pz3QPVhurPg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="col-6">
            <iframe width="400" height="220" src="https://www.youtube.com/embed/fnfncQEOdlI?start=13" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="col-6">
            <iframe width="400" height="220" src="https://www.youtube.com/embed/HUAHqWyaxL4?start=13" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
    </div>
    
     <div class="shows card">
      <h1>Movies to Watch</h1>
      
      <div class="row">
        <div class="col-5">
          <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-04/21/10/enhanced/webdr07/original-6312-1461249705-11.jpg?downsize=715:*&output-format=auto&output-quality=auto" width="400px">
        </div>
        <div class="col-7">
          <h3>Emperor's New Groove<h3>
          <p>This hit comedy chronicles the foibles of disgruntled office workers -- led by deluded boss Michael Scott -- at the Dunder Mifflin paper company.</p>
        </div>
        
        <div class="col-5">
          <img src="https://img.buzzfeed.com/buzzfeed-static/static/2016-04/21/11/enhanced/webdr14/original-26497-1461251915-4.jpg?downsize=715:*&output-format=auto&output-quality=auto" width="400px">
        </div>
        <div class="col-7">
          <h3>Ferris Bueller's Day Off<h3>
          <p>In this Emmy-nominated comedy, an employee with a rural Parks and Recreation department is full of energy and ideas but bogged down by bureaucracy.</p>
        </div>
        
        <div class="col-5">
          <img src="https://i.kinja-img.com/gawker-media/image/upload/s--HaWaD9Ed--/c_scale,f_auto,fl_progressive,q_80,w_800/ggwwzmmejecqxmy9d78c.jpg" width="400px">
        </div>
        <div class="col-7">
          <h3>Zootopia<h3>
          <p>This landmark series transports nature lovers from the Himalayan Mountains to the depths of the ocean and everywhere in between.</p>
        </div>
      </div>
      </div>
      
      <div class="wo card">
        <h1>RIP VINE</h1>
        <div class="row">
          <div class="col-6">
            <iframe width="400" height="220" src="https://www.youtube.com/embed/vQ6_MgcWUvM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="col-6">
            <iframe width="400" height="220" src="https://www.youtube.com/embed/w_3eszFuNtw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="col-6">
            <iframe width="400" height="220" src="https://www.youtube.com/embed/dqetsPdW4n8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="col-6">
            <iframe width="400" height="220" src="https://www.youtube.com/embed/W_qsLqPDMVM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    
  </body>
</html>