<!DOCTYPE html>
<html>
  <head>
    <title>Mood Swings</title>
    
    <style>
      li {
        margin: 15px;
      }
      li img {
        padding-right: 15px;
      }
      a {
        font-size: 130%;
      }
      .card {
        background-color: #eaeaff;
        padding: 15px;
        margin-top: 20px;
      }
      .row img {
        margin: 15px;
        padding-right: 15px;
      }
      .culinary {
        padding-left: 25px;
      }
    </style>
  </head>
  
  <body>
    <nav class="navbar fixed navbar-expand-md navbar-light" style="background-color: #e7d3ff;" id="nav">
        <a class="navbar-brand" href="index.erb">Mood Swings<img src="https://cdn3.iconfinder.com/data/icons/camping-outline-pt-3/100/107_-_swing_playground-512.png" width='50px'></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="happy">happy</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="upset">upset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stressed">stressed</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="peaceful">peaceful</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">about us</a>
                </li>
            </ul>
        </div>
     </nav>
      <div class="playlists card">
          <h1>Playlists</h1>
          
         <div class="row">
          <div class= col-6>
           <ul> 
            <li>
              <img src="https://is1-ssl.mzstatic.com/image/thumb/Music118/v4/c9/15/b3/c915b317-4320-59e2-3b93-69839de4fc80/cover-.jpg/268x0w.jpg" width="110px">
              <a href="https://open.spotify.com/album/1I99NMZm8kO0GPISztRVol" target="_blank"> yiruma classical
              </a>
            </li>
            <li>
              <img src="https://i.scdn.co/image/67c7e274072d3a4eef1fd1e95622b0a30f0285a3" width="110px" >
              <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX0x36cwEyOTG" target="_blank"> peacefull chill ambient
              </a>
            </li>
          </ul>
         </div>
         
         <div class="col-6">
            <li>
              <img src="https://i.scdn.co/image/6130aa8a52cfef62d11073c2b04d38c93bc786bc" width="110px">
              <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DWZqd5JICZI0u" target="_blank"> peaceful meditation 
              </a>
            </li>
            <li>
               <img src="https://i.scdn.co/image/cdda3f0bf42371399e5e7a8c4277d551ceb08d2c" width="110px">
               <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX0jgyAiPl8Af" target="_blank"> peaceful guitar
               </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
        
    <div class="card">
      <h1>Peace of Mind</h1>
        <div class="row">
          <div class="col-6 pl-5">
            <img src="https://images.template.net/wp-content/uploads/2017/02/07012327/Bohemian-Floral-Pattern.jpg" width="140px">
             <a href="https://www.mombooks.com/dp-online-activity/art-of-mindfulness/?imprint=1" target="_blank">coloring</a>
          </div>
          <div class="col-6 pl-5">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuoUlEc63KHHAI3lChvio5vntwjPZIF6CIAVP7sbNROMuxn_zyyA" width="150px">
            <a href="https://www.youtube.com/watch?v=oX6I6vs1EFs&vl=en" target="_blank">yoga</a>
          </div>
        </div>
    </div>
    
      <div class="card">
        <h1>Culinary</h1>
          <br>
        <div class="culinary">
            <h4><strong>CHICKEN BAKED ZITI</strong></h4><br>
            <p>
              TOTAL TIME: 40 MINS PREP TIME: 10 MINS COOK TIME: 30 MINS<br>
              INGREDIENTS:<br>
              12 ounces ziti (or any pasta shape)<br>
              2 cups shredded, cooked chicken (about 2 small chicken breasts)<br>
              1 batch alfredo sauce (see below)<br>
              1 1/2 cups shredded mozzarella cheese (I used 2% low fat)<br>
              (optional toppings: additional shredded Parmesan cheese, chopped fresh parsley)<br><br>
              ALFREDO SAUCE INGREDIENTS:<br>
              1 Tbsp. olive oil<br>
              4 cloves garlic, minced<br>
              3 Tbsp. flour<br>
              1 cup chicken broth<br>
              1 cup low-fat milk (I used 1%)<br>
              3/4 cup freshly-grated Parmesan cheese<br>
              1/2 tsp. salt<br>
              1/4 tsp. black pepper<br>
              *This isn’t a super-saucy dish, so if you like a lot of sauce, you might want to consider doubling this recipe. If you don’t have the time to make your own sauce, one standard-sized jar should be enough.
              <br>
              DIRECTIONS:<br>
              <br>
              TO MAKE THE CHICKEN BAKED ZITI:<br>
              Preheat oven to 375 degrees F.<br>
              Cook the pasta al dente in a large stockpot of well-salted boiling according to package instructions. Drain. Return pasta to the stockpot and add chicken and alfredo sauce. Gently toss to combine until the pasta is evenly coated.<br>
              Pour half of the pasta into a greased baking dish (either an oval baking dish, as pictured above, or a 9 x 13-inch baking dish will work). Sprinkle evenly with 1 cup of cheese. Layer the remaining half of the pasta evenly on top. Sprinkle evenly with the remaining 1/2 cup of cheese.<br>
              Bake for 20-25 minutes until the cheese is melted and just barely starts to turn golden. Remove and serve immediately, sprinkled with additional toppings if desired.
              TO MAKE THE ALFREDO SAUCE:<br>
              Heat olive oil in a large sauce pan over medium-high heat. Add garlic and saute one minute, stirring occasionally, until fragrant. Sprinkle with flour, and stir to combine. Saute for an additional minute to cook the flour, stirring occasionally.<br>
              Slowly add chicken broth, whisking to combine until smooth. Whisk in milk, and bring the mixture to a simmer. Let cook for an additional minute until thickened, then stir in Parmesan cheese, salt and pepper until the cheese melted. Remove from heat and set aside.<br>
            </p>
            <br>
            <p> 
              <h4><strong>ONE SKILLET MEXICAN RICE CASSEROLE</strong></h4><br>
              yield: 5 SERVINGS prep time: 10 cook time: 15 total time: 25<br>
              <br>
              INGREDIENTS:<br>
              1 small red onion, diced<br>
              1 tablespoon extra virgin olive oil<br>
              2 teaspoons cumin<br>
              1 teaspoon chili powder<br>
              1 teaspoon smoked paprika<br>
              1/2 teaspoon salt<br>
              1 teaspoon dried oregano<br>
              1 red bell pepper, cored and diced<br>
              1 (4 ounce) can diced green chilies, drained (or 1 jalapeno, diced)<br>
              1 cup corn kernels, fresh or frozen and defrosted<br>
              1 (15 ounce) can black beans, drained and rinsed<br>
              12 ounces salsa or enchilada sauce<br>
              1 and 1/2 cups cooked Planet Rice California Sprouted Brown Rice<br>
              1/2 cup shredded Monterey Jack cheese*<br>
              1/4 cup shredded cheddar cheese*<br>
              serving suggestions: fresh cilantro, diced green onions, avocado<br>
              <br>
              DIRECTIONS:<br>
              Start by warming the oil in a large skillet (mine is 3 quarts) over medium heat. Add the onion and cook for 3 minutes, then add the spices (cumin to oregano) and stir together. Continue to cook for another 2-3 minutes.<br>
              Next add the red pepper and the green chilies and stir together. Cook for another 2-3 minutes then add the drained and rinsed beans, corn, salsa, and rice. Stir everything until well-combined.<br>
              Turn the oven to broil then top the mixture in the skillet with the shredded cheese. Place the skillet in the oven and cook for about 3-4 minutes until the cheese is golden and bubbly on top. Serve warm with diced green onions, cilantro, and/or avocado.<br>
              *To make it vegan, skip the broiling step and drizzle it with this Nacho Cashew Cream.<br>
              <br>
              Store leftovers in an airtight container in the refrigerator for up to 3 days.<br>
           </p>
        </div>
      </div>
    </div>
  </body>
</html>
