<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <title>upset</title>
   <style>
     .shows {
       background-color: white;
     }
     h1 {
       color: lightblue;
       font-family: 'Montserrat', sans-serif; 
       font-size: 250%; 
       text-align: center;
     }
     h2 {
       color: white;
       font-family: 'Montserrat', sans-serif; 
       font-size: 250%;
     }
     h3 {
       color: lightblue;
       font-family: 'Montserrat', sans-serif; 
       font-size:250%;
       
     }
     h4 {
       color: lightblue;
       font-family: 'Montserrat', sans-serif; 
       font-size:195%;
       background-color: white;
     }
     h5 {
       color: white;
       font-family: 'Montserrat', sans-serif; 
       font-size:250%;
       background-color: lightblue;
     }
     .card {
       margin-top: 30px;
     }
     .pic, .ply {
       background-color: lightblue;
     }
   </style>
 </head>
 <body>

<nav class="navbar fixed navbar-expand-md navbar-light" style="background-color: #aadeed;" id="nav">
        <a class="navbar-brand" href="index.erb">Mood Swings<img src="https://cdn3.iconfinder.com/data/icons/camping-outline-pt-3/100/107_-_swing_playground-512.png" width='50px'></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="happy">happy</a>
                </li>
                 <li class="nav-item active">
                    <a class="nav-link" href="upset">upset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stressed">stressed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="peaceful">peaceful</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">about us</a>
                </li>
            </ul>
        </div>
    </nav>
      
    <br><br>
    <h1>Upset: angry, sad, don't know what to do? Here are some resources to turn that frown upside down:)))</h1>
    <br>
    
    <div class="card pic">
      <h2 class="pl-3 pr-3 pt-3">Pictures</h2>
      <div class="row">
        <img class="col-2 ml-5 p-4" src= "https://i.pinimg.com/originals/33/77/5c/33775c99e3bfd189971717537b559c4d.jpg" width="200" height="250">
        <img class="col-2 p-4"  src="http://www.zarias.com/wp-content/uploads/2015/12/61-cute-puppies.jpg" width="200" height="250">
        <img class="col-3 p-4" src="https://static.boredpanda.com/blog/wp-content/uploads/2016/08/cute-kittens-31-57b30ad5ccbc8__605.jpg" width= "200" height= "250">
        <img class="col-2 p-4" src="https://img.buzzfeed.com/buzzfeed-static/static/2016-12/5/20/asset/buzzfeed-prod-fastlane03/sub-buzz-25152-1480988724-3.jpg?downsize=715:*&output-format=auto&output-quality=auto" width= "200" height="250">
        <img class="col-2 p-4" src="https://img.buzzfeed.com/buzzfeed-static/static/2016-12/7/18/asset/buzzfeed-prod-fastlane02/sub-buzz-21020-1481153401-1.jpg?downsize=715:*&output-format=auto&output-quality=auto" width= "200" height= "250">
      </div>
    </div>
    
    <div class="card shows">
      <h3 class="pl-3 pr-4 pt-4"><strong>Shows and movies to boost your mood:</strong></h3>
        <div class="row">
          <div class="col-5 m-4 p-4">
            <img src="https://img-www.tf-cdn.com/show/2/friends.jpeg?_v=20180412182138&w=1024&h=512&dpr=1&auto=compress&fm=pjpg&fit=crop&crop=faces%2Ctop" width="450px" >
            <h4>Friends</h4>
          </div>
          
          <div class="col-5 m-4 p-4">
            <img src="https://www.thetimes.co.uk/imageserver/image/methode%2Fsundaytimes%2Fprod%2Fweb%2Fbin%2Fa3555862-26b4-11e8-8cd0-05c64066237c.jpg?crop=2667%2C1500%2C0%2C0&resize=685" width="450px" >
            <h4>Isle of Dogs</h4>
          </div>
          
          <div class="col-5 m-4 p-4">
            <img src="http://static6.uk.businessinsider.com/image/56df3c33dd08952f758b46ff-1190-625/21-times-women-made-history-on-saturday-night-live.jpg" width="450px" >
            <h4>SNL</h4>
          </div>
           
          <div class="col-5 m-4 p-4">
            <img src="https://uproxx.files.wordpress.com/2017/12/dwight-the-office.jpg?quality=95&w=650" width="450px" >
            <h4>The Office</h4>
          </div>
            
        </div>
      </div>
    
    <div class="card ply">
      <h5 class="pl-3 pr-3 pt-3">Playlists</h5>
      
      <div class="row">
        <div class="col-4 ml-5">
          <img src="https://i.scdn.co/image/867d55b038f05be7dff33f912c3514248ac43d65" height="125" width="125"><br>
          <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX3rxVfibe1L0">Mood Booster-Spotify Playlist</a>
        </div>
        
        <div class="col-4 ml-4">
          <img src= "https://i.scdn.co/image/954f97a75b44fb3e6ca974cd46eb58989f205a96" height="125" width="125"><br>
          <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX7KNKjOK0o75">Have A Great Day!-Spotify Playlist</a>
        </div>
        
        <div class="col-3 ml-3">
          <img src= "https://i.scdn.co/image/5f652a942ca278d4466c5904cb4f2fc880182efe" height="125" width="125"><br>
          <a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX2SK4ytI2KAZ">It's ALT Good! -Spotify Playlist</a>
        </div>
        
      </div>
      
      
      <!--<img src="https://i.scdn.co/image/867d55b038f05be7dff33f912c3514248ac43d65" height="125" width="125">-->
      <!--<a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX3rxVfibe1L0">Mood Booster-Spotify Playlist</a>-->
      <!--<img src= "https://i.scdn.co/image/954f97a75b44fb3e6ca974cd46eb58989f205a96" height="125" width="125">-->
      <!--<a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX7KNKjOK0o75">Have A Great Day!-Spotify Playlist</a>-->
      <!--<img src= "https://i.scdn.co/image/5f652a942ca278d4466c5904cb4f2fc880182efe" height="125" width="125">-->
      <!--<a href="https://open.spotify.com/user/spotify/playlist/37i9dQZF1DX2SK4ytI2KAZ">It's ALT Good! -Spotify Playlist</a>-->
      
    </div>
    
 </body>
</html>